<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>38202768363-0md054ddlk1g2vgaptdctlisilq86k2q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.38202768363-0md054ddlk1g2vgaptdctlisilq86k2q</string>
	<key>API_KEY</key>
	<string>AIzaSyDxKEqcna83PhH7Qd45ET1NzyGjFqMAKgM</string>
	<key>GCM_SENDER_ID</key>
	<string>38202768363</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ecommerceFinalProject</string>
	<key>PROJECT_ID</key>
	<string>ecommerce-final-project-3a0bd</string>
	<key>STORAGE_BUCKET</key>
	<string>ecommerce-final-project-3a0bd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:38202768363:ios:71785e7503d23a621d37ae</string>
</dict>
</plist>